<h1>DashBoards</h1>
<h2><%= current_user.name %></h2>
<div>
  <%= link_to t('.edit'), edit_user_registration_path, class: "btn btn-primary", method: :get %>
  <%= link_to t('.sign_out'), destroy_user_session_path, class: "btn btn-warning", method: :delete %>
</div>